

$blanco: #ffffff;
$boton-registrarse: #2400ff;
$negro: #000000FF;
$naranja_iniciarSesion: #FF8F3E;
$veneno: #B366C6;
$planta: #49FC71;
$hielo: #31AAA3;
$psiquico: #FF61D3;
$fuego: #FF7A30;
$volador: linear-gradient(180deg, #31AAA3 0%, #31AAA3 54.16%, #888888 54.17%, #888888 100%);
$rojo_pokeball: #FF3E32;