.Contacto{
  background-color: rgba(24, 95, 202, 0.42);
  min-height: 700px;
  input{
    width: 340px;
    text-align: center;
  }

  textarea{
    width: 340px;
  }

  label{
    width: 300px;
  }
  h1{
    text-align: center;
    margin: 30px;
  }
  .caja-de-fuera{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .caja{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
  }

  .formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 30px;
    width: 400px;
  }
  .formulario>*{
    margin: 0 auto 10px;
  }

  .btn{
    margin-top: 15px;
  }

  .error{
    margin: auto auto 30px;
    color: red;
  }

}