.DetallesPokemon{

  background-color: rgba(24, 95, 202, 0.42);
  min-height: 700px;

  .imagenPokemon>img{
    max-width: 300px;
  }

  .imagenPokemon>*{
    margin: 0 auto;
    text-align: center;
  }
  .imagenPokemon>h1{
    padding: 20px;
    font-size: 70px;
  }

  .descripcion>p{
    text-align: center;
    margin: 20px;
  }
  .grass{
    background-color: #9bcc50;
  }
  .normal{
    background-color: #a4acaf;
  }
  .fighting{
      background-color: #d56723;
  }
  .flying{
      background: linear-gradient(180deg, #3dc7ef 50%, #a4acaf 50%);
  }
  .poison{
    background-color: #b97fc9;
  }
  .ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  }
  .rock{
    background-color: #a38c21;
  }
  .bug{
    background-color: #729f3f;
  }
  .ghost{
    background-color: #7b62a3;
  }
  .steel{
    background-color: #9eb7b8;
  }
  .fire{
    background-color: #fd7d24;
  }
  .water{
    background-color: #4592c4;
  }
  .electric{
    background-color: #eed535;
  }
  .psychic{
    background-color: #f366b9;
  }
  .ice{
    background-color: #51c4e7;
  }
  .dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  }
  .dark{
    background-color: #707070;
  }
  .fairy{
    background-color: #fdb9e9;
  }

  .fa{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 30px;
  }

  a{
    color: black;
  }

  .tipos{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    padding-bottom: 30px;
  }

  .tipos>*{
    padding: 20px;
    width: 200px;
    text-align: center;
    color: black;
    border-radius: 12px;
  }

  .btn-anadir{
    text-align: center;
    padding: 30px;
  }
  .btn-eliminar{
    text-align: center;
    padding: 30px;
  }

  .btn-anadir>button{
    padding: 10px;
    border-radius: 10px;
  }

  .fa-heart{
    color: red;
  }

  .btn-eliminar>button{
    padding: 10px;
    border-radius: 10px;
  }

  .btn-anadir>button:hover{
    background-color: #c9fdc9;
  }
  .btn-eliminar>button:hover{
    background-color: rgba(255, 196, 196, 0.89);
  }

}